@import url("https://fonts.googleapis.com/css2?family=Moniker:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans+14pt:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Fonts */
  --font-dm-sans-14pt: "DM Sans 14pt";
  --font-outfit: Outfit;
  --font-montserrat: Montserrat;
  --font-moniker: Moniker;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-8xl: 27px;
  --font-size-14xl: 33px;
  --font-size-17xl: 36px;
  --font-size-23xl: 42px;
  --font-size-50xl: 69px;
  --font-size-51xl: 70px;
  --font-size-132xl: 151px;

  /* Colors */
  --color-black: #000;
  --color-darkgray: #b4b4b4;
  --color-midnightblue: #281566;
  --color-white: #fff;

  /* Border radiuses */
  --br-24xl: 43px;
  --br-31xl: 50px;
  --br-213xl: 232px;
}
